:root {
  /* Color */
  --color-purple: #7149C6;
  --color-black: #1A1A1A;
}

.wrap {
  width: 1200px;
  margin: auto;
}

/* navbar */
#navbar {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
  align-items: center;
}

.navbar__logo {
  font-size: 18px;
}

.navbar__menu {
  display: flex;
  gap: 30px;
}

.navbar__menu li {
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 15px;
}

.navbar__menu li a {
  color: var(--color-black);
}

.navbar__menu li:hover {
  background-color: var(--color-purple);
  transition-property: background-color, color;
  transition-duration: 0.8s;
  cursor: pointer;
}

.navbar__menu .active {
  background-color: var(--color-purple);
}


.navbar__menu li:hover a,
.navbar__menu .active a {
  color: white;
}

.navbar__team {
  font-size: 15px;
  font-style: oblique;
  color: grey;
}

.navbar__toggle {
  padding-top: 5px;
	font-size: 24px;
  background-color: transparent;
  border: none;
	display: none;
}

/* 미디어쿼리 */
@media (max-width: 1200px) {
 #navbar {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  position: fixed;
  top: 12px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1;
 }

  .navbar__toggle {
    display: block;
    position: absolute;
    top: -9px;
    right: 140px;
    cursor: pointer;
  }

  .navbar__menu {
    display: none;
  }
  
  .navbar__menu.open {
    width: 200px;
    margin: auto 120px auto auto;
    display: block;
    border: 1px solid var(--color-purple);
    border-radius: 15px;
    background-color: white;
    opacity: 0.9;
    z-index: 1;
  }
  
  .navbar__menu.open li {
    border-radius: 10px;
  }

  .navbar__team {
    display: none;
  }

}