<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="../static/images/favicon.png">
    <!-- swiper.js css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <!-- css -->
    <link rel="stylesheet" href="../static/css/index.css">
  <title>Dev View</title>
</head>
<body>
  <div class="wrap">
    {% include 'navbar.html' %}
  </div>

  <section id="content">
    <div class="content__banner">
      <img src="../static/images/logo.png" alt="">
      <p>#개발영상 어떤걸 봐야할지 헷갈리시나요?</p>
      <p>DevView가 추천해드립니다.</p>
    </div>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="/page">
            <img src="../static/images/html,css.png" alt=""/>
            <span>HTML&CSS</span>
            <p>
              HTML&CSS 동영상 보러가기&nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="/page">
            <img src="../static/images/js.png" alt=""/>
            <span>JavaScript</span>
            <p>
              자바스크립트 동영상 보러가기&nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="/page">
            <img src="../static/images/react.png" alt=""/>
            <span>React</span>
            <p>
              리액트 동영상 보러가기&nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="/page">
            <img src="../static/images/spring.png" alt=""/>
            <span>Spring</span>
            <p>
              스프링 동영상 보러가기&nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="/page">
            <img src="../static/images/ts.png" alt=""/>
            <span>TypeScript</span>
            <p>
              타입스크립트 동영상 보러가기&nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="/page">
            <img src="../static/images/git.png" alt=""/>
            <span>Git</span>
            <p>
              깃 동영상 보러가기&nbsp;
              <i class="fa-solid fa-arrow-right"></i>
            </p>
          </a>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </section>

  <!-- JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="../static/js/index.js"></script>
</body>
</html>