<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <div class="modal">
      <div class="modal_body">
        <div class="modal-wrap">
          <h1>추천영상공유</h1>
          <button class="modal-close">
            <span class="material-symbols-outlined"> close </span>
          </button>
          <form class="form" action="./app.py" method="post">
            <h2>영상제목</h2>
            <input
              id="video-name"
              name="video-name"
              placeholder="영상제목을 입력해주세요"
              type="text"
            />
            <h2>설명</h2>
            <input
              id="video-desc"
              name="video-desc"
              placeholder="설명을 입력해주세요"
              type="text"
            />
            <h2>링크</h2>
            <input
              id="video-link"
              name="video-link"
              placeholder="링크를 삽입해주세요"
              type="url"
            />
            <button type="submit" class="btn-submit">등록하기</button>
          </form>
        </div>
      </div>
    </div>
    <button class="modal-open">모달열기</button>
    <script>
      //영상등록하기 버튼에 .modal-open 클래스 부여하기
      const btnModalOpen = document.querySelector(".modal-open");
      const modal = document.querySelector(".modal");
      const btnModalClose = document.querySelector(".modal-close");
      const btnSumit = document.querySelector(".btn-submit");
      const body = document.querySelector("body");
      const videoNameVal = document.querySelector("#video-name");
      const videoDescVal = document.querySelector("#video-desc");
      const videoLinkVal = document.querySelector("#video-link");

      let boardId = Date.now();

      function handleEvent(e) {
        e.preventDefault();
        const youTubeUrl = videoLinkVal.value.slice(
          32,
          videoLinkVal.value.length
        );
        const imgUrl = `https://i1.ytimg.com/vi/${youTubeUrl}/maxresdefault.jpg`;

        if (videoLinkVal.value == "") {
          alert("url을 입력하세요");
        } else if (!(videoLinkVal.value.substring(0, 4) == "http")) {
          alert("유효한 url형식이 아닙니다.");
        } else {
          let formData = new FormData();
          formData.append("videoname_give", videoNameVal.value);
          formData.append("videodesc_give", videoDescVal.value);
          formData.append("videolink_give", videoLinkVal.value);
          formData.append("id_give", boardId);
          formData.append("url_give", imgUrl);
          console.log(imgUrl);

          fetch("/modal", {
            headers: {
              Accept: "application / json",
            },
            method: "POST",
            body: formData,
          })
            .then((res) => res.json())
            .then((data) => {
              window.location.reload();
            })
            .catch((error) => {
              console.log(error);
            });
        }
      }

      function handleModalClose() {
        modal.style.display = "none";
        body.style.overflow = "auto";
      }

      function handleModalOpen() {
        modal.style.display = "block";
        body.style.overflow = "hidden";
      }
      btnSumit.addEventListener("click", handleEvent);
      btnModalOpen.addEventListener("click", handleModalOpen);
      btnModalClose.addEventListener("click", handleModalClose);
    </script>
  </body>
</html>
