<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="icon" href="../static/images/favicon.png">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
  <title>Dev View</title>
</head>
<body>
  <nav id="navbar">
    <div class="navbar__logo">
      DevView
    </div>
    <ul class="navbar__menu">
      <li><a href="#">HTML&CSS</a></li>
      <li><a href="#">JavaScript</a></li>
      <li><a href="#">React</a></li>
      <li><a href="#">TypeScript</a></li>
    </ul>
    <div class="navbar__team">
      항해99 14기 17조
    </div>
  </nav>
</body>
</html>