<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- fontawsome script-->
    <script src="https://kit.fontawesome.com/1e56433357.js" crossorigin="anonymous"></script>
    <!-- css -->
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
  <title>Dev View</title>
</head>
<body>
  <nav id="navbar">
    <div class="navbar__logo">
      <a href="/">DevView</a>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu__li"><a href="/page">HTML&CSS</a></li>
      <li class="navbar__menu__li"><a href="/page">JavaScript</a></li>
      <li class="navbar__menu__li"><a href="/page">React</a></li>
      <li class="navbar__menu__li"><a href="/page">TypeScript</a></li>
    </ul>
    <div class="navbar__team">
      항해99 14기 17조
    </div>

    <!-- Toggle button -->
    <button class="navbar__toggle">
      <i class="fa-solid fa-bars"></i>
    </button>
  </nav>

  <!-- JavaScript -->
  <script src="../static/js/navbar.js"></script>
</body>
</html>